<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>An error has occured</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/common.css}" href="/css/common.css"  rel="stylesheet" type="text/css"/>
</head>
<body>
    <h1>A problem occured while trying to buy a drink</h1>
		
	<div>		
        <h1 id="errorMessage" th:text="${exception.message}"></h1>
    </div>
	<div class="buySomeDrink">		
        <a href="/searchForDrink">Buy another drink</a>
    </div>
</body>
</html>