<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Buy a drink in dispenser</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"/>
<script type="text/javascript" th:src="@{/js/form.js}"/>
<link th:href="@{/css/common.css}" href="/css/common.css"  rel="stylesheet" type="text/css"/>
</head>
<body>
	<h1>BUY DRINKS</h1>

	<div id="drinksDispenserContainer" class="content">
		<form action="#"
			th:action="@{/buyDrink}" method="POST">
			<div id="availableCoins" class="content">
    			<div><h2>List of available coins : </h2></div>
			</div>
            <h3> Total amount inserted: <label><input id="totalAmountInserted" name="insertedAmount" value="0" readonly="readonly" /></label></h3>
			<div id="availableDrinks" class="content">
    			<div><h2>List of available drinks : </h2></div>
    		</div>

			<p>
				<input type="submit" value="BUY DRINK" />
			</p>
		</form>
		<input type="hidden" id="formContent" th:value="${content}" />
	</div>
</body>
</html>